h1 {
    text-align: center;
}
nav {
    display:grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr 1fr;
}
ul{
    display:grid;
    grid-column: 2;
    grid-template-rows: 1fr ;
    grid-template-columns:repeat(5,1fr);
}

section {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
}





